keySignFile=location/to/your/signkey/file

keySignAliasPassword=YOUR_ALIAS_PASSWORD
keySignPassword=YOUR_PASSWORD
keySignAlias=YOUR_PASSWORD

MSAppCenterKey=YOUR_MS_APP_CENTER_KEY


# Learn More at https://developers.google.com/admob/android/test-ads

AdMobAppID=YOUR_APP_ID
AdMobBannerAd1=YOUR_APP_BANNER_ID
AdMobBannerAd2=YOUR_APP_BANNER_ID
AdMobIntAd=YOUR_APP_INTERSTITIAL_ID
AdMobRewardedAd=YOUR_REWARDED_AD_ID
AdMobNativeAds=YOUR_NATIVE_AD_ID



